# Compiled binaries
basis
karakter
tahun
tolower
cari_kata
hapus_vokal
lowercase
read
read_write
ukur_byte
log_app
game_input
input_basis
input_prefix
istringstream
istringstream-game
kata
multi_input
ostringstream
stringstream
tokenizer
pecahan
posisi
presisi
tabel
biner
hitung_angka
klasifikasi

# Object files
*.o
*.out

# Binary data
*.bin
